/* Main background and minimum site width */
html
  --s:50px
  --c:#191b22
  --_s:calc(2*var(--s)) calc(2*var(--s))
  --_g:35.36% 35.36% at
  --_c:#0000 66%, #20222a 68% 70%, #0000 72%
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) (var(--s) / var(--_s)), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) (var(--s) / var(--_s)), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 (0 / var(--_s)), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 (0 / var(--_s)), repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 (0 / var(--_s)), radial-gradient(var(--_c)) 0 (calc(var(--s)/2) / var(--s)) var(--s) var(--c)
  background-attachment: fixed
  
@font-face 
  font-family: 'Helvetica'
  font-display: swap

body
  min-width: 360px
/* Desktop header classes */
.GL
  &__toolbar-link
    a
      color: white
      text-decoration: none
      &:hover
        opacity: 0.7
  &__menu-link:hover
    background: #0366d6
    color: white
  &__menu-link-status
    &:hover
      & > div
        background: white !important
  &__menu-link-status
    color: $blue-grey-6
    &:hover
      color: $light-blue-9
/* Width classes for blocks */
.CNT
  &__eighty
    min-width: 80%
    max-width: 80%
    margin: auto
    padding: 1em
  &__all
    min-width: 100%
    max-width: 100%
    margin: auto
    padding: 1em
/* Backgrounds */
.BG
  &__cardDark
    background: grey
    opacity: 0.3
.ADVANT
  &__framedCard
    border: rgba(255, 255, 255, 0.3) 1px solid
    border-radius: 1em
    margin-bottom: 0.5em
  &__titleAligned
    margin: auto
.MENU
  &__width
    min-width: 100px
.GAL
  &__caption
    pointer-events: none
    user-select: none
.IMAGE
  &__highlight
    filter: contrast(1.2)
    transition: transform 0.2s, box-shadow 0.2s
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
.about
  &__list
    display: block
    text-align: center
  &__item
    display: inline-block
    vertical-align: middle
.noclick
  pointer-events: none